<h1>Uploaded</h1>
<form action="/download" method="GET">
    <input type="submit" value="Download Pdf" name="submit">
</form>
<form action="/redirect" method="GET">
    <input type="submit" value="convert more" name="submit">
</form>